* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.navbar {
    background-color: #07689f;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: left;
    position: sticky;
    top: 0; /* Sticks at the top */
    z-index: 999; /* Adjust this if needed to keep the navbar on top */
    width: 100%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    max-height: 100px;
    height: 15vw;
}

/* FOOTER */
.footer {
    width: 100%;
    padding: 50px 2%;
    background: #a2d5f2;
    color: black;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.footerlogo {
    width: 350px;
}
.footer div {
    text-align: center;
}
.footer div h3 {
    font-weight: 600;
    font-size: 1.3em;
    letter-spacing: 1;
}
.col-3 a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.3em;
}
.social-icons {
    padding: 10px;
}
.social-icons i {
    font-size: 35px;
    margin: 15px;
    cursor: pointer;
}
.social-icons p {
    color: black;
}
.footer .col-1,
.footer .col-2,
.footer .col-3 {
    flex: 1;
    text-align: center;
}

/* HAMBURGER */
a,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}

.navigation {
    position: fixed;
    right: -500px;
    width: 300px;
    height: 100%;
    background-color: #07689f;
    transition: 0.5s;
    z-index: 999;
}

.navigation ul li {
    color: white;
    text-align: right;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 1rem;
    padding: 14px 21px;
    border-bottom: 1pt solid #a2d5f2;
    font-weight: bold;
}

.hamburger,
.bar {
    position: fixed;
}

.hamburger {
    display: block;
    position: fixed;
    top: 8%;
    left: 95%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
    z-index: 1000;
}

.bar {
    top: 3px;
    background: #fff;
    width: 100%;
    height: 4px;
    transition: all 0.3s ease-in;
}

#bar2 {
    top: 11px;
}

#bar3 {
    top: 19px;
}

.navigation.active {
    right: 0;
    z-index: 1000;
}

.hamburger.open #bar1 {
    background-color: #fff;
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2 {
    background-color: transparent;
}

.hamburger.open #bar3 {
    background-color: #fff;
    transform: rotate(-45deg) translate(6px, -5px);
}
